:root {
    --primary-color: #115e59;
    --seconday-color: #ccfbf1;
}

body {
    text-align: center;
    background-color: var(--primary-color);
}

h1 {
    font-size: xx-large;
    margin-top: 30vh;
    color: var(--seconday-color);
}
h3 {
    color: var(--seconday-color);
}

input, button{
    font-size: x-large;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    border-color: var(--seconday-color);
}
button {
    display: block;
    margin-top: 1rem;
    margin: auto;
}

p {
    margin-top: 2rem;
    font-size: x-large;
    margin-top: 1rem;
    color: var(--seconday-color);
}

.footer {
    margin-top: 10rem;
    background-color: var(--primary-dark);
    padding: 2rem 1rem;
    text-align: center;
    color: var(--seconday-text);
    border-radius: 5px;
    border: solid;
    border-color: var(--seconday-color);
  }
  
  .list-non-bullet {
    list-style: none;
  }
  
  .list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
  }
  
  .footer-icons {
    max-width: 50px;
  }
  
  .link {
    text-decoration: none;
    padding: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .container-centre {
    max-width: 600px;
    margin: auto;
    color: var(--seconday-color);
  }